<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs", { title: title }); %>
</head>
<body>
    <div class="wrapper">
        <header>
            <%- include("./partials/header.ejs"); %>
        </header>
        <main>
        
        </main>
        <footer>
            <%- include("./partials/footer.ejs", { links: links }); %>
        </footer>
    </div>
</body>
</html>